@{

    Page.Title = "Cadastro de Autor";
    Layout = "~/View/Shared/_Layout.cshtml";
}


<div class="row">

    <div  class="col-12 boasVindas"> <h1> Seja Bem-Vindo!!!  </h1> </div>

</div>
<div class="row">

    <div class="col-12">

        <img id="imagemPagInicial" src="~/Img/estudante.jpg" alt="Estudante"  class="img-fluid" width="100%" height="40%" />

    </div>

</div>