
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Css/bootstrap.css" rel="stylesheet" />
    <link href="~/Css/estilo.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Js/validacaoForms.js"> </script>
    <script type="text/javascript" src="~/Js/Script.js" > </script>

    <title> @Page.Title</title>
</head>
<body>
    <div class="container">
    
        @RenderPage("Menu.cshtml")
        
    </div>

    <div class="container">
        @RenderBody()

    </div>

    <div class="container">

        @RenderPage("Rodape.cshtml")

    </div>

</body>
</html>
