
<div class="row">
    <div class="col-12">

        

    </div>

</div>

    
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" href="~/View/Aluno/CadAluno.cshtml"> Cadastro Aluno</a>
    </li>


    <li class="nav-item">
        <a class="nav-link" href="~/View/Livro/CadLivro.cshtml"> Cadastro Livro</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="~/View/Autor/CadAutor.cshtml">Cadastro Autor</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="~/View/Editora/CadEditora.cshtml">Cadastro Editora</a>
    </li>
</ul>

 
