
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    <p> Site Desenvolvido por<strong> Ariel Veras </strong>   </p>
    </div>
</body>
</html>
